server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]': # Appliquer à toutes les routes
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
      routes:
        - id: etudiant-service
          #  Utilisation du nom du service enregistré dans Eureka
          uri: lb://ETUDIANT-SERVICE
          predicates:
            - Path=/api/etudiants/**

        - id: note-service

          uri: lb://NOTE-SERVICE
          predicates:
            - Path=/api/notes/**

      # ⚠️ La section discovery est déjà activée, c'est ce qui permet au 'lb://' de fonctionner
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      httpclient:
        connect-timeout: 3000
        response-timeout: 5s

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true