server:
  port: 8761

spring:
  application:
    name: eureka-server

eureka:
  client:
    register-with-eureka: false   # le serveur ne s’enregistre pas lui-même
    fetch-registry: false
  server:
    enable-self-preservation: false
